# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build
*.tsbuildinfo

# Generated
generated
.turbo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.pem
.vercel
