[build]
builder = "nixpacks"
buildCommand = "pnpm install && pnpm db:generate && pnpm build:api"

[deploy]
startCommand = "pnpm db:push && pnpm start:api"
healthcheckPath = "/api/health"
healthcheckTimeout = 600
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 1
